{% extends "base.html" %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
{% include 'include/_sidebar_settings_storehouse.html' %}
{% endblock %}

{% block content %}
    <form action="{% url 'storehouse_settings_edit'%}?show={{ show }}&tag=edit&id={{ id }}" method="post">
        {% csrf_token %}
        {{ formEdit.non_field_errors }}
        {{ formEdit.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
    </form>

{% endblock %}