# Created by .ignore support plugin (hsz.mobi)
.gitignore
ServiceCRM3/__pycache__/
__pycache__/
clients/__pycache__/
clients/migrations/__pycache__/
clients/templatetags/__pycache__/
money/__pycache__/
money/migrations/__pycache__/
money/templatetags/__pycache__/
news/__pycache__/
news/migrations/__pycache__/
news/templatetags/__pycache__/
orders/__pycache__/
orders/migrations/__pycache__/
orders/templatetags/__pycache__/
plugins/__pycache__/
plugins/migrations/__pycache__/
plugins/templatetags/__pycache__/
prints/__pycache__/
prints/migrations/__pycache__/
prints/templatetags/__pycache__/
storehouse/__pycache__/
storehouse/migrations/__pycache__/
storehouse/templatetags/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
users/templatetags/__pycache__/
venv/Include/
venv/Lib/site-packages/MySQLdb/__pycache__/
venv/Lib/site-packages/MySQLdb/constants/__pycache__/
venv/Lib/site-packages/PIL/__pycache__/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/appconf/__pycache__/
venv/Lib/site-packages/asgiref/__pycache__/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/chardet/__pycache__/
venv/Lib/site-packages/chardet/cli/__pycache__/
venv/Lib/site-packages/chardet/metadata/__pycache__/
venv/Lib/site-packages/ckeditor/__pycache__/
venv/Lib/site-packages/ckeditor_demo/__pycache__/
venv/Lib/site-packages/ckeditor_demo/demo_application/__pycache__/
venv/Lib/site-packages/ckeditor_demo/demo_application/migrations/__pycache__/
venv/Lib/site-packages/ckeditor_demo/demo_application/tests/__pycache__/
venv/Lib/site-packages/ckeditor_uploader/__pycache__/
venv/Lib/site-packages/ckeditor_uploader/backends/__pycache__/
venv/Lib/site-packages/ckeditor_uploader/management/__pycache__/
venv/Lib/site-packages/ckeditor_uploader/management/commands/__pycache__/
venv/Lib/site-packages/debug_toolbar/__pycache__/
venv/Lib/site-packages/debug_toolbar/management/__pycache__/
venv/Lib/site-packages/debug_toolbar/management/commands/__pycache__/
venv/Lib/site-packages/debug_toolbar/panels/__pycache__/
venv/Lib/site-packages/debug_toolbar/panels/history/__pycache__/
venv/Lib/site-packages/debug_toolbar/panels/sql/__pycache__/
venv/Lib/site-packages/debug_toolbar/panels/templates/__pycache__/
venv/Lib/site-packages/debug_toolbar/templatetags/__pycache__/
venv/Lib/site-packages/django/__pycache__/
venv/Lib/site-packages/django/apps/__pycache__/
venv/Lib/site-packages/django/bin/__pycache__/
venv/Lib/site-packages/django/conf/__pycache__/
venv/Lib/site-packages/django/conf/locale/__pycache__/
venv/Lib/site-packages/django/conf/locale/ar/__pycache__/
venv/Lib/site-packages/django/conf/locale/ar_DZ/__pycache__/
venv/Lib/site-packages/django/conf/locale/az/__pycache__/
venv/Lib/site-packages/django/conf/locale/bg/__pycache__/
venv/Lib/site-packages/django/conf/locale/bn/__pycache__/
venv/Lib/site-packages/django/conf/locale/bs/__pycache__/
venv/Lib/site-packages/django/conf/locale/ca/__pycache__/
venv/Lib/site-packages/django/conf/locale/cs/__pycache__/
venv/Lib/site-packages/django/conf/locale/cy/__pycache__/
venv/Lib/site-packages/django/conf/locale/da/__pycache__/
venv/Lib/site-packages/django/conf/locale/de/__pycache__/
venv/Lib/site-packages/
django/conf/locale/de_CH/__pycache__/
venv/Lib/site-packages/django/conf/locale/el/__pycache__/
venv/Lib/site-packages/django/conf/locale/en/__pycache__/
venv/Lib/site-packages/django/conf/locale/en_AU/__pycache__/
venv/Lib/site-packages/django/conf/locale/en_GB/__pycache__/
venv/Lib/site-packages/django/conf/locale/eo/__pycache__/
venv/Lib/site-packages/django/conf/locale/es/__pycache__/
venv/Lib/site-packages/django/conf/locale/es_AR/__pycache__/
venv/Lib/site-packages/django/conf/locale/es_CO/__pycache__/
venv/Lib/site-packages/django/conf/locale/es_MX/__pycache__/
venv/Lib/site-packages/django/conf/locale/es_NI/__pycache__/
venv/Lib/site-packages/django/conf/locale/es_PR/__pycache__/
venv/Lib/site-packages/django/conf/locale/et/__pycache__/
venv/Lib/site-packages/django/conf/locale/eu/__pycache__/
venv/Lib/site-packages/django/conf/locale/fa/__pycache__/
venv/Lib/site-packages/django/conf/locale/fi/__pycache__/
venv/Lib/site-packages/django/conf/locale/fr/__pycache__/
venv/Lib/site-packages/django/conf/locale/fy/__pycache__/
venv/Lib/site-packages/django/conf/locale/ga/__pycache__/
venv/Lib/site-packages/django/conf/locale/gd/__pycache__/
venv/Lib/site-packages/django/conf/locale/gl/__pycache__/
venv/Lib/site-packages/django/conf/locale/he/__pycache__/
venv/Lib/site-packages/django/conf/locale/hi/__pycache__/
venv/Lib/site-packages/django/conf/locale/hr/__pycache__/
venv/Lib/site-packages/django/conf/locale/hu/__pycache__/
venv/Lib/site-packages/django/conf/locale/id/__pycache__/
venv/Lib/site-packages/django/conf/locale/ig/__pycache__/
venv/Lib/site-packages/django/conf/locale/is/__pycache__/
venv/Lib/site-packages/django/conf/locale/it/__pycache__/
venv/Lib/site-packages/django/conf/locale/ja/__pycache__/
venv/Lib/site-packages/django/conf/locale/ka/__pycache__/
venv/Lib/site-packages/django/conf/locale/km/__pycache__/
venv/Lib/site-packages/django/conf/locale/kn/__pycache__/
venv/Lib/site-packages/django/conf/locale/ko/__pycache__/
venv/Lib/site-packages/django/conf/locale/ky/__pycache__/
venv/Lib/site-packages/django/conf/locale/lt/__pycache__/
venv/Lib/site-packages/django/conf/locale/lv/__pycache__/
venv/Lib/site-packages/django/conf/locale/mk/__pycache__/
venv/Lib/site-packages/django/conf/locale/ml/__pycache__/
venv/Lib/site-packages/django/conf/locale/mn/__pycache__/
venv/Lib/site-packages/django/conf/locale/nb/__pycache__/
venv/Lib/site-packages/django/conf/locale/nl/__pycache__/
venv/Lib/site-packages/django/conf/locale/nn/__pycache__/
venv/Lib/site-packages/django/conf/locale/pl/__pycache__/
venv/Lib/site-packages/django/conf/locale/pt/__pycache__/
venv/Lib/site-packages/django/conf/locale/pt_BR/__pycache__/
venv/Lib/site-packages/django/conf/locale/ro/__pycache__/
venv/Lib/site-packages/django/conf/locale/ru/__pycache__/
venv/Lib/site-packages/django/conf/locale/sk/__pycache__/
venv/Lib/site-packages/django/conf/locale/sl/__pycache__/
venv/Lib/site-packages/django/conf/locale/sq/__pycache__/
venv/Lib/site-packages/django/conf/locale/sr/__pycache__/
venv/Lib/site-packages/django/conf/locale/sr_Latn/__pycache__/
venv/Lib/site-packages/django/conf/locale/sv/__pycache__/
venv/Lib/site-packages/django/conf/locale/ta/__pycache__/
venv/Lib/site-packages/django/conf/locale/te/__pycache__/
venv/Lib/site-packages/django/conf/locale/tg/__pycache__/
venv/Lib/site-packages/django/conf/local
e/th/__pycache__/
venv/Lib/site-packages/django/conf/locale/tk/__pycache__/
venv/Lib/site-packages/django/conf/locale/tr/__pycache__/
venv/Lib/site-packages/django/conf/locale/uk/__pycache__/
venv/Lib/site-packages/django/conf/locale/uz/__pycache__/
venv/Lib/site-packages/django/conf/locale/vi/__pycache__/
venv/Lib/site-packages/django/conf/locale/zh_Hans/__pycache__/
venv/Lib/site-packages/django/conf/locale/zh_Hant/__pycache__/
venv/Lib/site-packages/django/conf/urls/__pycache__/
venv/Lib/site-packages/django/contrib/__pycache__/
venv/Lib/site-packages/django/contrib/admin/__pycache__/
venv/Lib/site-packages/django/contrib/admin/migrations/__pycache__/
venv/Lib/site-packages/django/contrib/admin/templatetags/__pycache__/
venv/Lib/site-packages/django/contrib/admin/views/__pycache__/
venv/Lib/site-packages/django/contrib/admindocs/__pycache__/
venv/Lib/site-packages/django/contrib/auth/__pycache__/
venv/Lib/site-packages/django/contrib/auth/handlers/__pycache__/
venv/Lib/site-packages/django/contrib/auth/management/__pycache__/
venv/Lib/site-packages/django/contrib/auth/management/commands/__pycache__/
venv/Lib/site-packages/django/contrib/auth/migrations/__pycache__/
venv/Lib/site-packages/django/contrib/contenttypes/__pycache__/
venv/Lib/site-packages/django/contrib/contenttypes/management/__pycache__/
venv/Lib/site-packages/django/contrib/contenttypes/management/commands/__pycache__/
venv/Lib/site-packages/django/contrib/contenttypes/migrations/__pycache__/
venv/Lib/site-packages/django/contrib/flatpages/__pycache__/
venv/Lib/site-packages/django/contrib/flatpages/migrations/__pycache__/
venv/Lib/site-packages/django/contrib/flatpages/templatetags/__pycache__/
venv/Lib/site-packages/django/contrib/gis/__pycache__/
venv/Lib/site-packages/django/contrib/gis/admin/__pycache__/
venv/Lib/site-packages/django/contrib/gis/db/__pycache__/
venv/Lib/site-packages/django/contrib/gis/db/backends/__pycache__/
venv/Lib/site-packages/django/contrib/gis/db/backends/base/__pycache__/
venv/Lib/site-packages/django/contrib/gis/db/backends/mysql/__pycache__/
venv/Lib/site-packages/django/contrib/gis/db/backends/oracle/__pycache__/
venv/Lib/site-packages/django/contrib/gis/db/backends/postgis/__pycache__/
venv/Lib/site-packages/django/contrib/gis/db/backends/spatialite/__pycache__/
venv/Lib/site-packages/django/contrib/gis/db/models/__pycache__/
venv/Lib/site-packages/django/contrib/gis/db/models/sql/__pycache__/
venv/Lib/site-packages/django/contrib/gis/forms/__pycache__/
venv/Lib/site-packages/django/contrib/gis/gdal/__pycache__/
venv/Lib/site-packages/django/contrib/gis/gdal/prototypes/__pycache__/
venv/Lib/site-packages/django/contrib/gis/gdal/raster/__pycache__/
venv/Lib/site-packages/django/contrib/gis/geoip2/__pycache__/
venv/Lib/site-packages/django/contrib/gis/geos/__pycache__/
venv/Lib/site-packages/django/contrib/gis/geos/prototypes/__pycache__/
venv/Lib/site-packages/django/contrib/gis/management/commands/__pycache__/
venv/Lib/site-packages/django/contrib/gis/serializers/__pycache__/
venv/Lib/site-packages/django/contrib/gis/sitemaps/__pycache__/
venv/Lib/site-packages/django/contrib/gis/utils/__pycache__/
venv/Lib/site-packages/django/contrib/humanize/__pycache__/
venv/Lib/site-packages/django/contrib/humanize/templatetags/__pycache__/
venv/Lib/site-packages/django/contrib/messages/__pycache__/
venv/Lib/site-packages/django/contrib/messages/storage/__pycache__/
venv/Lib/site-packages/django/contrib/postgres/__pycache__/
venv/Lib/site-packages/django/contrib/postgres/aggregates/__pycache__/
venv/Lib/site-packages/django/contrib/postgres/fields/__pycache__/
venv/Lib/site-packages/django/contrib/postgres/forms/__pycache__/
venv/Lib/site-packages/django/contrib/redirects/__pycache__/
venv/Lib/site-packages/django/contrib/redirects/migrations/__pycache__/
venv/Lib/site-packages/django/contrib/sessions/__pycache__/
venv/Lib/site-packages/django/contrib/sessions/backends/__pycache__/
venv/Lib/site-packages/django/contrib/sessions/management/commands/__pycache__/
venv/Lib/site-packages/django/contrib/sessions/migrations/__pycache__/
venv/Lib/site-packages/django/contrib/sitemaps/__pycache__/
venv/Lib/site-packages/django/contrib/sitemaps/management/commands/__pycache__/
venv/Lib/site-packages/django/contrib/sites/__pycache__/
venv/Lib/site-packages/django/contrib/sites/migrations/__pycache__/
venv/Lib/site-packages/django/contrib/staticfiles/__pycache__/
venv/Lib/site-packages/django/contrib/staticfiles/management/commands/__pycache__/
venv/Lib/site-packages/django/contrib/syndication/__pycache__/
venv/Lib/site-packages/django/core/__pycache__/
venv/Lib/site-packages/django/core/cache/__pycache__/
venv/Lib/site-packages/django/core/cache/backends/__pycache__/
venv/Lib/site-packages/django/core/checks/__pycache__/
venv/Lib/site-packages/django/core/checks/compatibility/__pycache__/
venv/Lib/site-packages/django/core/checks/security/__pycache__/
venv/Lib/site-packages/django/core/files/__pycache__/
venv/Lib/site-packages/django/core/handlers/__pycache__/
venv/Lib/site-packages/django/core/mail/__pycache__/
venv/Lib/site-packages/django/core/mail/backends/__pycache__/
venv/Lib/site-packages/django/core/management/__pycache__/
venv/Lib/site-packages/django/core/management/commands/__pycache__/
venv/Lib/site-packages/django/core/serializers/__pycache__/
venv/Lib/site-packages/django/core/servers/__pycache__/
venv/Lib/site-packages/django/db/__pycache__/
venv/Lib/site-packages/django/db/backends/__pycache__/
venv/Lib/site-packages/django/db/backends/base/__pycache__/
venv/Lib/site-packages/django/db/backends/dummy/__pycache__/
venv/Lib/site-packages/django/db/backends/mysql/__pycache__/
venv/Lib/site-packages/django/db/backends/oracle/__pycache__/
venv/Lib/site-packages/django/db/backends/postgresql/__pycache__/
venv/Lib/site-packages/django/db/backends/sqlite3/__pycache__/
venv/Lib/site-packages/django/db/migrations/__pycache__/
venv/Lib/site-packages/django/db/migrations/operations/__pycache__/
venv/Lib/site-packages/django/db/models/__pycache__/
venv/Lib/site-packages/django/db/models/fields/__pycache__/
venv/Lib/site-packages/django/db/models/functions/__pycache__/
venv/Lib/site-packages/django/db/models/sql/__pycache__/
venv/Lib/site-packages/django/dispatch/__pycache__/
venv/Lib/site-packages/django/forms/__pycache__/
venv/Lib/site-packages/django/http/__pycache__/
venv/Lib/site-packages/django/middleware/__pycache__/
venv/Lib/site-packages/django/template/__pycache__/
venv/Lib/site-packages/django/template/backends/__pycache__/
venv/Lib/site-packages/django/template/loaders/__pycache__/
venv/Lib/site-packages/django/templatetags/__pycache__/
venv/Lib/site-packages/django/test/__pycache__/
venv/Lib/site-packages/django/urls/__pycache__/
venv/Lib/site-packages/django/utils
/__pycache__/
venv/Lib/site-packages/django/utils/translation/__pycache__/
venv/Lib/site-packages/django/views/__pycache__/
venv/Lib/site-packages/django/views/decorators/__pycache__/
venv/Lib/site-packages/django/views/generic/__pycache__/
venv/Lib/site-packages/django_select2/__pycache__/
venv/Lib/site-packages/docopt-0.6.2-py3.8.egg-info/
venv/Lib/site-packages/docopt.py
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/js_asset/__pycache__/
venv/Lib/site-packages/phonenumbers/__pycache__/
venv/Lib/site-packages/phonenumbers/carrierdata/__pycache__/
venv/Lib/site-packages/phonenumbers/data/__pycache__/
venv/Lib/site-packages/phonenumbers/geodata/__pycache__/
venv/Lib/site-packages/phonenumbers/shortdata/__pycache__/
venv/Lib/site-packages/phonenumbers/tzdata/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_internal/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/lockfile/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/pytoml/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.eg
g/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pip-22.0.4.dist-info/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/index.py
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/
venv/Lib/site-packages/pip/_internal/index/__pycache__/
venv/Lib/site-packages/pip/_internal/index/sources.py
venv/Lib/site-packages/pip/_internal/locations/
venv/Lib/site-packages/pip/_internal/metadata/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/network/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/build/metadata_editable.py
venv/Lib/site-packages/pip/_internal/operations/build/wheel_editable.py
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/legacy/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/_log.py
venv/Lib/site-packages/pip/_internal/utils/egg_link.py
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/metadata/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/t64-arm.exe
venv/Lib/site-packages/pip/_vendor/distlib/w64-arm.exe
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/_manylinux.py
venv/Lib/site-packages/pip/_vendor/packaging/_musllinux.py
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip/_vendor/pep517/in_process/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/platformdirs/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/colors.py
venv/Lib/site-pack
ages/pip/_vendor/pygments/
venv/Lib/site-packages/pip/_vendor/pyparsing/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/compat/__pycache__/
venv/Lib/site-packages/pip/_vendor/rich/
venv/Lib/site-packages/pip/_vendor/tenacity/
venv/Lib/site-packages/pip/_vendor/tomli/
venv/Lib/site-packages/pip/_vendor/typing_extensions.py
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/ssl_match_hostname.py
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pip/py.typed
venv/Lib/site-packages/pipreqs-0.4.11.dist-info/
venv/Lib/site-packages/pipreqs/
venv/Lib/site-packages/pytz/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/rest_framework/__pycache__/
venv/Lib/site-packages/rest_framework/authtoken/__pycache__/
venv/Lib/site-packages/rest_framework/authtoken/management/__pycache__/
venv/Lib/site-packages/rest_framework/authtoken/management/commands/__pycache__/
venv/Lib/site-packages/rest_framework/authtoken/migrations/__pycache__/
venv/Lib/site-packages/rest_framework/management/__pycache__/
venv/Lib/site-packages/rest_framework/management/commands/__pycache__/
venv/Lib/site-packages/rest_framework/schemas/__pycache__/
venv/Lib/site-packages/rest_framework/templatetags/__pycache__/
venv/Lib/site-packages/rest_framework/utils/__pycache__/
venv/Lib/site-packages/shortuuid/__pycache__/
venv/Lib/site-packages/sqlparse/__pycache__/
venv/Lib/site-packages/sqlparse/engine/__pycache__/
venv/Lib/site-packages/sqlparse/filters/__pycache__/
venv/Lib/site-packages/tests/__pycache__/
venv/Lib/site-packages/tests/test_client.py
venv/Lib/site-packages/tests/test_exceptions.py
venv/Lib/site-packages/tests/test_package.py
venv/Lib/site-packages/tests/test_parse.py
venv/Lib/site-packages/tests/test_release.py
venv/Lib/site-packages/tests/testapp/__pycache__/
venv/Lib/site-packages/tests/testapp/migrations/__pycache__/
venv/Lib/site-packages/tinymce/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/yarg-0.1.9.dist-info/
venv/Lib/site-packages/yarg/
venv/Scripts/__pycache__/
venv/Scripts/pipreqs.exe
!/ServiceCRM3/settings.py
