asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.4
django-appconf==1.0.4
django-ckeditor==6.1.0
django-debug-toolbar==3.2
django-js-asset==1.2.2
django-select2==7.7.1
django-tinymce==3.3.0
djangorestframework==3.12.2
docopt==0.6.2
idna==2.10
mysqlclient==2.0.3
phonenumbers==8.12.31
Pillow==8.1.0
pipreqs==0.4.11
pytz==2020.5
requests==2.25.1
shortuuid==1.0.1
sqlparse==0.4.1
urllib3==1.26.3
yarg==0.1.9
