<div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_aside_menu" data-kt-menu="true">

    <!--begin:Menu NEW item-->
    <div class="menu-item pt-5">
        <!--begin:Menu content-->
        <div class="menu-content">
            <span class="menu-heading fw-bold text-uppercase fs-7">Фильтрация</span>
        </div>
        <!--end:Menu content-->
    </div>

<!-- используем этот код если модуль подразумевает возможность поиска, фильтарции или меню от других приложенией -->

    <form action="" method="get">
        {% csrf_token %}
        {% for key, value in relatedmenu.items %}
            {% for k2, v2 in value.items %}
                {% if k2 == 'submenu_import' %}
                    {% include v2 %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    <br>
    <div class="d-flex flex-row justify-content-center align-items-center">
    <button type="submit" class="btn btn-secondary text-center" id="button-addon2">Сортировать</button>
    </div>
    </form>
</div>


