
@media print {
	html, body{
		height: 297mm;
		width: 210mm;
        visibility: hidden;
	}
    .print_block {
        visibility: visible;
        }
	*, *:before, *:after {
		color: #000;
		box-shadow: none;
		text-shadow: none;
	    }
	.header, .footer, .banner {
		display: none;
	}
}

@page {
	margin: 0mm 0mm 0mm 0mm;
}


@media screen {
	.element {
		display: none;
	}
}