<h5>Деньги заказы</h5>
<div class="list-group">
    <a href="?relateddata={'orders' : {'category': 'all'}}" class="list-group-item list-group-item-action">Все заказы</a>
    <a href="?relateddata={'orders' : {'category': 'fast'}}" class="list-group-item list-group-item-action">Быстрые заказы</a>
    <a href="?relateddata={'orders' : {'category': 'simple'}}" class="list-group-item list-group-item-action">Заказы в ремонт</a><br>
    <form action="" method="get">
        {% csrf_token %}
        <input type="hidden" name="relateddata" value="{'orders' : {'category': 'date'}}">

                <div class="input-group mb-3">
                    <input class="form-control" type="date" id="date" name="date">
            <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Искать</button>
        </div>
        <div class="input-group mb-3">
                    <input class="form-control" type="date" id="date2" name="date2">
            <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Искать</button>
        </div>
    </form>
</div>
<br>