{% extends "base.html" %}
{% block title %}{{ news_item.title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
{% include 'include/_sidebar.html' %}
{% endblock %}
{% block content %}

                <div class="card mb-3">
                    <div class="card-header">
                        Категория: {{ news_item.category.title }}
                    </div>
                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                            <img src="{{ news_item.photo.url }}" alt="" class="img-fluid">
                        {% else  %}
                        {% endif %}

                        <div class="media-body">
                        <h5 class="card-title">{{ news_item.title }}</h5>
                        {% autoescape off %}
                            <p class="card-text">{{ news_item.content|linebreaks }}</p>
                        {% endautoescape %}
                        </div>
                    </div>

                    </div>
                    <div class="card-footer text-muted">
                        {{ news_item.created_at|date:"Y-m-d H:i" }}
                    </div>
                </div>
{% endblock %}