<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg fw-semibold w-200px pb-3" data-kt-menu="true">
										<!--begin::Menu item-->
                                        {% if request.user.is_authenticated %}
										<div class="menu-item px-3">
											<a href="{% url 'add_news' %}" class="menu-link px-3">Новости</a>
										</div>
										<!--end::Menu item-->
                                        {% for key, value in nav.items %}
                                        <!--begin::Menu item-->
										<div class="menu-item px-3">
											<a href="{% url value.nav_url %}" class="menu-link px-3">{{value.nav_name}}</a>
										</div>
										<!--end::Menu item-->
                                        {% endfor %}
                                        <!--begin::Menu separator-->
										<div class="separator mb-3 opacity-75"></div>
										<!--end::Menu separator-->
										<!--begin::Menu item-->
										<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start">
											<a href="/" class="menu-link px-3">Настройки</a>
                                            <!--begin::Menu sub-->
                                            <div class="menu-sub menu-sub-dropdown w-175px py-2">
                                                <!--begin::Menu item-->
                                                <div class="menu-item">
                                                    <a href="{% url 'user_home' %}" class="menu-link">
                                                        <span class="menu-icon">
                                                            <i class="fa-solid fa-user-astronaut"></i>
                                                        </span>
                                                        <span class="menu-title">Пользователи</span>
                                                    </a>
                                                </div>
                                                <!--end::Menu item-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item">
                                                    <a href="{% url 'view_plugins' %}" class="menu-link">
                                                        <span class="menu-icon">
                                                            <i class="fa-solid fa-layer-group"></i>
                                                        </span>
                                                        <span class="menu-title">Плагины</span>
                                                    </a>
                                                </div>
                                                <!--end::Menu item-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item">
                                                    <a href="{% url 'view_repository' %}" class="menu-link">
                                                        <span class="menu-icon">
                                                            <i class="fa-solid fa-download"></i>
                                                        </span>
                                                        <span class="menu-title">Репозиторий</span>
                                                    </a>
                                                </div>
                                                <!--end::Menu item-->
                                            </div>
                                            <!--end::Menu sub-->
                                            </div>
										<!--end::Menu item-->
                                        {% else %}
                      					<div class="menu-item px-3">
											<a href="{% url 'login' %}" class="menu-link px-3">Not login</a>
										</div>
                  {% endif %}
</div>

