{% extends "base.html" %}
{% load orders_template_tags %}
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
    {% include 'include/_sidebar_orders.html' %}
{% endblock %}
{% block content %}
    {% include 'include/_ajax.html' %}
                            <!--begin::Toolbar-->
							<div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">
								<!--begin::Page title-->
								<div class="page-title d-flex flex-column me-3">
									<!--begin::Title-->
									<h1 class="d-flex text-dark fw-bold my-1 fs-3">{{ title }}</h1>
									<!--end::Title-->
									<!--begin::Breadcrumb-->
									<ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7 my-1">
										<!--begin::Item-->
										<li class="breadcrumb-item text-gray-600">
											<a href="/orders/" class="text-gray-600 text-hover-primary">Заказы</a>
										</li>
										<!--end::Item-->
										<!--begin::Item-->
										<li class="breadcrumb-item text-gray-500">{{ title }}</li>
										<!--end::Item-->
									</ul>
									<!--end::Breadcrumb-->
								</div>
								<!--end::Page title-->
								<!--begin::Actions-->
								<div class="d-flex align-items-center py-2 py-md-1">
									<!--begin::Wrapper-->
									<div class="me-3">
										<!--begin::Menu-->
										<a href="/" class="btn btn-light fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
										<!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
										<span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
											</svg>
										</span>
										<!--end::Svg Icon-->
                                            Фильтр</a>
										<!--begin::Menu 1-->
										<div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true" id="kt_menu_62fe696a6df35">
											<!--begin::Header-->
											<div class="px-7 py-5">
												<div class="fs-5 text-dark fw-bold">Filter Options</div>
											</div>
											<!--end::Header-->
											<!--begin::Menu separator-->
											<div class="separator border-gray-200"></div>
											<!--end::Menu separator-->
											<!--begin::Form-->
											<div class="px-7 py-5">
												<!--begin::Input group-->
												<div class="mb-10">
													<!--begin::Label-->
													<label class="form-label fw-semibold">Status:</label>
													<!--end::Label-->
													<!--begin::Input-->
													<div>
														<select class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Select option" data-dropdown-parent="#kt_menu_62fe696a6df35" data-allow-clear="true">
															<option></option>
															<option value="1">Approved</option>
															<option value="2">Pending</option>
															<option value="2">In Process</option>
															<option value="2">Rejected</option>
														</select>
													</div>
													<!--end::Input-->
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="mb-10">
													<!--begin::Label-->
													<label class="form-label fw-semibold">Member Type:</label>
													<!--end::Label-->
													<!--begin::Options-->
													<div class="d-flex">
														<!--begin::Options-->
														<label class="form-check form-check-sm form-check-custom form-check-solid me-5">
															<input class="form-check-input" type="checkbox" value="1" />
															<span class="form-check-label">Author</span>
														</label>
														<!--end::Options-->
														<!--begin::Options-->
														<label class="form-check form-check-sm form-check-custom form-check-solid">
															<input class="form-check-input" type="checkbox" value="2" checked="checked" />
															<span class="form-check-label">Customer</span>
														</label>
														<!--end::Options-->
													</div>
													<!--end::Options-->
												</div>
												<!--end::Input group-->
												<!--begin::Input group-->
												<div class="mb-10">
													<!--begin::Label-->
													<label class="form-label fw-semibold">Notifications:</label>
													<!--end::Label-->
													<!--begin::Switch-->
													<div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
														<input class="form-check-input" type="checkbox" value="" name="notifications" checked="checked" />
														<label class="form-check-label">Enabled</label>
													</div>
													<!--end::Switch-->
												</div>
												<!--end::Input group-->
												<!--begin::Actions-->
												<div class="d-flex justify-content-end">
													<button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2" data-kt-menu-dismiss="true">Reset</button>
													<button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">Apply</button>
												</div>
												<!--end::Actions-->
											</div>
											<!--end::Form-->
										</div>
										<!--end::Menu 1-->
										<!--end::Menu-->
									</div>
									<!--end::Wrapper-->
									<!--begin::Button-->
                                        <a href="/" class="btn btn-dark fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Создать</a>
                                    <div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true" id="kt_menu_create123">
											<!--begin::Header-->
											<div class="px-7 py-5">
												<div class="fs-5 text-dark fw-bold">Создать заказа</div>
											</div>
											<!--end::Header-->
											<!--begin::Menu separator-->
											<div class="separator border-gray-200"></div>
											<!--end::Menu separator-->
											<!--begin::Form-->
											<div class="px-7 py-5">
												<!--begin::Input group-->
												<div class="d-flex flex-column mb-10">
													<!--begin::Label-->
                                                    <a href="{% url 'order_add'%}?category=fast" class="btn btn-primary"><i class="fa-brands fa-waze fs-4 me-2"></i> Услуга на месте</a><br>

                                                    <a href="{% url 'order_add'%}?category=simple" class="btn btn-info"><i class="fas fa-envelope-open-text fs-4 me-2"></i> Заказ в ремонт</a>
												</div>
												<!--end::Input group-->
											</div>
											<!--end::Form-->
										</div>
									<!--end::Button-->
								</div>
								<!--end::Actions-->
							</div>
							<!--end::Toolbar-->

							<!--begin::Post-->
							<div class="content flex-column-fluid" id="kt_content">
								<!--begin::About card-->
								<div class="card">
									<!--begin::Body-->
									<div class="card-body p-5 px-lg-19 py-lg-16">
										<!--begin::Content main-->
										<div class="mb-14">

											<!--begin::Body-->
											<!--begin::ORDERS-->
											<div class="mb-15">

	   <div class="row">
        <div class="col-2">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                {% for item in main_list %}
                {% if forloop.counter == 1 %}
                        <div class="d-flex align-items-center mb-2">
                            <a id="list-{{ item.id }}" data-bs-toggle="list" href="#id-list-{{ item.id }}" role="tab" aria-controls="home" class="active text-gray-900 text-hover-primary fs-2 fw-bold me-1">№ {{ item.id }}</a>
                            {% if item.category_id == 2 %}
                            <div id="status_color_{{ item.id }}" class="status_color_{{ item.id }} bullet bullet-dot me-2 h-10px w-10px" style="background-color:{{ item.status__color }};"></div>
                            {% endif %}
                            {% for related_item in related_list %}
                                {% if related_item.related_uuid and item.uuid__related_uuid == related_item.uuid and related_item.related_use == 'form' %}
                                    {% if related_item.warning %}
                                        {% if related_item.warning == 'red' %}
                                            <i class="fa-solid fa-dollar-sign text-danger"></i>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                             {% endfor %}
                        </div>
                {% else %}
                        <div class="d-flex align-items-center mb-2">

                            <a id="list-{{ item.id }}" data-bs-toggle="list" href="#id-list-{{ item.id }}" role="tab" aria-controls="home" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">№ {{ item.id }}</a>
                            {% if item.category_id == 2 %}
                            <div class="bullet bullet-dot me-2 h-10px w-10px" style="background-color:{{ item.status__color }};"></div>

                            {% for related_item in related_list %}
                                {% if related_item.related_uuid and item.uuid__related_uuid == related_item.uuid and related_item.related_use == 'form' %}
                                    {% if related_item.warning %}
                                        {% if related_item.warning == 'red' %}
                                            <i class="fa-solid fa-dollar-sign text-danger"></i>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                             {% endfor %}

                            {% endif %}
                        </div>

                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                {% for item in main_list %}
                    {% if forloop.counter == 1 %}
                        <div class="tab-pane fade show active" id="id-list-{{ item.id }}" role="tabpanel" aria-labelledby="list-{{ item.id }}">
                    {% else %}
                        <div class="tab-pane fade" id="id-list-{{ item.id }}" role="tabpanel" aria-labelledby="list-{{ item.id }}">
                    {% endif %}
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            {% if item.category_id == 1 %}
                Услуга на месте:&nbsp;<br>
            {% else %}
                Заказ в ремонт:&nbsp;<br>
            {% endif %}
            <b>{{ item.id }}</b> </h3>
        <div class="card-toolbar">
            &nbsp; Дата: &nbsp;<span class="badge rounded-pill bg-dark"> {{ item.created_at }} </span>&nbsp;&nbsp;
            <button type="button" class="btn btn-sm btn-light">
                <a href="edit/{{ item.id }}">Редактировать</a>
            </button>
        </div>
    </div>
    <div class="card-body">
    <div >
          {% if item.category_id == 2 %}
             Статус:
             {% status_changer item.id  %}
              <div class="status_color_{{ item.id }} bullet bullet-dot me-2 h-10px w-10px" style="background-color:{{ item.status__color }};"></div>
          {% endif %}
    </div><br>

        <i class="fa-solid fa-up-right-from-square"></i><a href="one/{{ item.id }}" target="_blank">Открыть в новом окне</a><br><br>
        Принято: {{ item.category_service__name }}<br>
        В ремонте: {{ item.device__name }}<br>
        Услуга: {{ item.service__name }}<br>
        Серийный: {{ item.serial }}<br>
        {% if item.category_id == 2 %}
                Комментарий: {{ item.comment }}<br>
        {% endif %}
                Приемщик: {{ item.related_user__username }}<br>

        <!-- Related data -->
        {% for related_item in related_list %}
                {% if related_item.related_uuid and item.uuid__related_uuid == related_item.uuid and related_item.related_use == 'form' %}
                            {% if related_item.warning %}
                                {% if related_item.warning == 'red' %}
                                    <!--begin::Alert-->
                                    <br>
                                    <div class="alert alert-dismissible bg-light-danger d-flex flex-column flex-sm-row p-0 mb-0">
                                        <!--begin::Icon-->

                                        <!--end::Icon-->

                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-column pe-0 pe-sm-10">
                                            <!--begin::Content-->
                                            <span><i class="fa-brands fa-exclamation fs-4 me-2"></i><b>{{ related_item.module_name }}</b></span>
                                            <!--end::Content-->
                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Alert-->
                                {% endif %}
                            {% else %}
                                <br><b>{{ related_item.module_name }}</b><br>
                            {% endif %}
                            {% for key, value in related_item.items %}
                                {% if key != 'uuid' and key != 'html' and key != 'related_uuid' and key != 'module_name' and key != 'related_use' and key != 'warning' %}
                                    {{ key }}: {{ value }}<br>
                                {% endif %}
                                {% if key == 'html'%}
                                    {{ value | safe }}<br>
                                {% endif %}
                            {% endfor %}

                {% endif %}
        {% endfor %}

    </div>

<div class="card-footer">
<b>Дополнительные данные</b><br>
                            {% for related_item in related_list %}
                                    {% if related_item.related_uuid and item.uuid__related_uuid == related_item.uuid  and related_item.related_use == 'link'%}
                                        {{ related_item.html | safe }}
                                    {% endif %}
                                    {% if related_item.related_uuid and item.uuid__related_uuid == related_item.uuid  and related_item.related_use == 'text'%}
                                        {{ related_item.related_text }}<br>
                                    {% endif %}
                            {% endfor %}

    </div>
</div>


                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br><br>
       TYT!
       {{ item }}
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1&filter={{ filter }}">&laquo; В начало</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&filter={{ filter }}">Предудущая</a>
                </li>
            {% endif %}
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ p }}</span>
                    </li>
                {% elif p > page_obj.number|add:-5 and p < page_obj.number|add:5 %}
                    <li class="page-item">
                        <b><a class="page-link" href="?{% url_replace request page=p %}">{{ p }}</a></b>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&filter={{ filter }}&category= {{ item.category_id }}">Следующая</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&filter={{ filter }}&category= {{ item.category_id }}"> В конец &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
											</div>


                            {% for key, value in status_dict.items %}
                                {% if key == 'warn3' and value %}
                                    Не выданные заказы более 3 дней:<br>
                                    {% for item in value %}
                                        <a href="one/{{ item }}" class="btn btn-secondary " target="_blank">{{ item }}</a>

                                    {% endfor %}
                                {% endif %}
                                {% if key == 'warn7' and value %}
                                    Не выданные заказы более 7 дней:<br>
                                    {% for item in value %}
                                        <a href="one/{{ item }}" class="btn btn-warning" target="_blank">{{ item }}</a>
                                    {% endfor %}
                                {% endif %}
                                {% if key == 'warn14' and value %}
                                    Не выданные заказы более 14 дней:<br>
                                    {% for item in value %}
                                        <a href="one/{{ item }}" class="btn btn-danger me-1 mt-1" target="_blank">{{ item }}</a>
                                    {% endfor %}
                                {% endif %}
                                <br><br>
                            {% endfor %}<br><br>


											<!--end::ORDERS-->
											<!--end::Body-->
										</div>
										<!--end::Content main-->
									</div>
									<!--end::Body-->
								</div>
								<!--end::About card-->
							</div>
							<!--end::Post-->




<!--begin::Accordion-->
<div class="accordion accordion-icon-toggle" id="kt_accordion_2">
    <!--begin::Item-->
    <div class="mb-5">
        <!--begin::Header-->
        <div class="accordion-header py-3 d-flex" data-bs-toggle="collapse" data-bs-target="#kt_accordion_2_item_1">
            <span class="accordion-icon"><span class="svg-icon svg-icon-4"><svg>...</svg></span></span>
            <h3 class="fs-4 fw-semibold mb-0 ms-4">Related data</h3>
        </div>
        <!--end::Header-->

        <!--begin::Body-->
        <div id="kt_accordion_2_item_1" class="fs-6 collapse show ps-10" data-bs-parent="#kt_accordion_2">

        </div>
        <!--end::Body-->
    </div>
    <!--end::Item-->
</div>
<!--end::Accordion-->
{% endblock %}