{% block javascript %}
    <script>
    $(document).ready(function () {
             $(document).on('change', '#update_status', function() {
                var status = $(this).val();
                // create an AJAX call
                $.ajax({
                    data: $(this).serialize(), // get the form data
                    url: "{% url 'ajax_request' %}?method=update_status&id={{ id }}&status="+status,
                    // on success
                    success: function (response) {
                        if (response.is_exist == true) {
                            var BackgroundColor=response.color;
                            var statusColor = document.getElementsByClassName("status_color_{{ id }}");
                            console.log(statusColor)
                            statusColor[0].style.backgroundColor=BackgroundColor;
                            statusColor[1].style.backgroundColor=BackgroundColor;
                            console.log('ajax response true')
                        }
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.is_taken)
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
})
</script>
{% endblock javascript %}

<select id="update_status" class="selectpicker" >
  <option>{{ current_satus }}</option>
  {% for status in all_status %}
      <option>{{ status }}</option>
  {% endfor %}
</select>



