{% extends "base.html" %}
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
{% include 'include/_sidebar_prints.html' %}
{% endblock %}

{% block content %}


{% block javascript %}

{% endblock javascript %}

    <h3>
     Создание печатной формы
    </h3>
    <form action="{% url 'print_add'%}?category={{ tag }}" method="POST">
        {% csrf_token %}
        {% for x in forms %}
            {{ x.as_p }}
        {% endfor %}
        {{ formOne.non_field_errors }}
        {{ formOne.media }}
        {{ formOne }}
        <button type="submit" class="btn btn-primary btn-block">Добавить</button>
    </form>
<br><br>
     <h4>
     Cвязанные данные
    </h4>
    <hr>
    {% for key, value in fields.items %}
        {% for k2, v2 in value.items %}
            {% if k2 == 'module'%}
                   Модуль: {{ v2 }}<br>
            {% endif %}
            {% if k2 == 'fields'%}
                Связанные поля:
                {% for v_list in v2 %}
                    <span class="badge rounded-pill bg-dark">{{ v_list }}</span>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <hr>
    {% endfor %}


{% endblock %}