{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block link %}
<link href="{% static 'prints/css/print_style.css' %}" rel="stylesheet">
<link href="{% static 'prints/css/print.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="print.css">
<script src="{% static 'prints/js/print.min.js' %}"></script>
{% endblock %}


{% block sidebar %}
    {% include 'include/_sidebar_prints.html' %}
{% endblock %}

{% block content %}
    Форма {{ formnumber }}<br><br>

  <input type="button" onclick="printDiv('print-content')" value="Распечатать!"/>
<br><br>
<script type="text/javascript">
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        w=window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
</script>

<div id="print-content">
{{ printform|safe }}
</div>

{% endblock %}