{% load static %}
<html lang="en">
	<!--begin::Head-->
	<head>
		<title>{% block title %}print form{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}" />
        <link href="{% static 'prints/css/print_style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'prints/css/print.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'prints/js/print.min.js' %}"></script>
    </head>

<body>
    <!--Форма {{ formnumber }}<br><br> -->
<br>
  <input type="button" onclick="printDiv('print-content')" value="Распечатать!"/>
<br><br>
<script type="text/javascript">
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        w=window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
</script>

<div id="print-content">
{{ printform|safe }}
</div>
</body>
</html>