{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block link %}
<link href="{% static 'prints/css/print_style.css' %}" rel="stylesheet">
<link href="{% static 'prints/css/print.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="print.css">
{% endblock %}

<script src="{% static 'prints/js/print.min.js' %}"></script>


{% block sidebar %}
    {% include 'include/_sidebar_prints.html' %}
{% endblock %}

{% block content %}
    Форма {{ formnumber }}<br><br>

    <a href="#" class="action-print">Распечатать</a>

<script>
$(function($){
	$(".action-print").click(function(){
		window.print();
		return false;
	});
});
</script>
    <br><br>

<div class="print_block">{{ printform|safe }}</div>
{% endblock %}