{% extends "base.html" %}
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
    {% include 'include/_sidebar_owm.html' %}
{% endblock %}
{% block content %}

    <style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table th, table td {
        border-bottom: 1px solid #ccc; /* Полоса под каждой строкой */
        padding: 8px;
        text-align: left;
    }

    table tr.red {
        background-color: #f8d7da; /* Красная подсветка строк */
        color: #721c24;
    }
</style>

    <h1>Сопоставление артиклей и баркодов</h1>
    <br>
<table>
    <thead>
        <tr>
            <th>MS</th>
            <th>Ozon</th>
            <th>WB</th>
            <th>Yandex</th>
        </tr>
    </thead>
    <tbody>
        {% for row in combined_data %}
        <tr class="{% if not row.has_match %}red{% endif %}">
            <!-- MS -->
            <td>
                {% if row.ms %}
                    <strong>{{ row.ms.offer_id }}</strong><br>
                    {% for barcode in row.ms.barcodes %}
                        {{ barcode }}<br>
                    {% endfor %}
                {% else %}
                    <em>Нет данных</em>
                {% endif %}
            </td>
            <!-- Ozon -->
            <td>
                {% if row.ozon %}
                    <strong>{{ row.ozon.offer_id }}</strong><br>
                    {% for barcode in row.ozon.barcodes %}
                        {{ barcode }}<br>
                    {% endfor %}
                {% else %}
                    <em>Нет данных</em>
                {% endif %}
            </td>
            <!-- WB -->
            <td>
                {% if row.wb %}
                    <strong>{{ row.wb.offer_id }}</strong><br>
                    {% for barcode in row.wb.barcodes %}
                        {{ barcode }}<br>
                    {% endfor %}
                {% else %}
                    <em>Нет данных</em>
                {% endif %}
            </td>
            <!-- Yandex -->
            <td>
                {% if row.yandex %}
                    <strong>{{ row.yandex.offer_id }}</strong><br>
                    {% for barcode in row.yandex.barcodes %}
                        {{ barcode }}<br>
                    {% endfor %}
                {% else %}
                    <em>Нет данных</em>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
