{% extends "base.html" %}
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
    {% include 'include/_sidebar_owm.html' %}
{% endblock %}
{% block content %}
    <h1>Настройки автообнолвение остатков O W M</h1>
<br><br>
<form action="#" method="POST" class="update-form">
        {% csrf_token %}
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
         {% if active %}checked="checked"{% endif %} name="sync_checkbox">
  <label class="form-check-label" for="flexSwitchCheckDefault">
    <b>Синхронизация остатков между маркетплейсами по артиклю</b>
  </label>
</div>
    <br><br>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
         {% if active_ozon %}checked="checked"{% endif %} name="sync_checkbox_ozon">
  <label class="form-check-label" for="flexSwitchCheckDefault">
    <b>Синхронизация Ozon</b>
  </label>
</div>
    <br><br>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
         {% if active_wb %}checked="checked"{% endif %} name="sync_checkbox_wb">
  <label class="form-check-label" for="flexSwitchCheckDefault">
    <b>Синхронизация WB</b>
  </label>
</div>
    <br><br>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
         {% if active_yandex %}checked="checked"{% endif %} name="sync_checkbox_yandex">
  <label class="form-check-label" for="flexSwitchCheckDefault">
    <b>Синхронизация Yandex</b>
  </label>
</div>
    <br><br>
        <button type="submit" class="btn btn-primary btn-block" name="form_type" value="save_settings">Сохранить</button>
    </form>
    <hr>
    <h1>Синхронизация</h1>

    <form action="#" method="POST" class="update-form">
        {% csrf_token %}

    <div class="alert alert-primary d-flex align-items-center p-5">
    <!--begin::Icon-->
    <i class="ki-duotone ki-shield-tick fs-2hx text-success me-4"><span class="path1"></span><span class="path2"></span></i>
    <!--end::Icon-->

    <!--begin::Wrapper-->
    <div class="d-flex flex-column">
          <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {% if active %}checked="checked"{% endif %} name="mp_reserv">
              <label class="form-check-label" for="flexSwitchCheckDefault">
                <b>Учитывая уже созданные заказы на маркетплейсах, но не отгруженные</b>
              </label>
          </div>
        <!--begin::Content-->
            <span>Сформированные, но ещё не отправленные заказы на маркетплейсах по модели FBS, которые должны быть отгружены с вашего склада.
                Эти заказы будут учитываться при синхронизации остатков: сначала из остатков в МойСклад будут вычтены эти заказы,
                а затем произойдёт автоматическое обновление остатков товаров. (Для тех кто в танке: Это заказы, которые уже есть, но вы их ещё не отправили.
                Перед обновлением остатков они сначала вычтутся из того, что есть на складе, а потом остатки обновятся.)</span>
        <!--end::Content--><br>
            <span>Синхронизацию надо делать только при старте автообновления или при сбое работы автообновления или
            при активации дополнительного маркетплейса.
            При синхронизации, последние остатки на мойсклад отправляются на все указанные маркетплейсы.
            <u>Без синхронизации не запустится автообновление</u></span>
    <br>
        <button type="submit" class="btn btn-primary btn-block" name="form_type" value="sync_start" style="max-width: 150px; width: 100%;">Синхронизация</button>
    </div>


    <!--end::Wrapper-->
</div>
    <br><br>
<!--end::Alert-->
    {% if sync_update %}
        <h2>ozon</h2>
        {{ update_data.ozon }}<br><br>
        <h2>wb</h2>
        {{ update_data.wb }}<br><br>
        <h2>yandex</h2>
        {{ update_data.yandex }}
    {% endif %}
    </form>
{% endblock %}

<script>
    const syncUpdate = {{ sync_update|safe }};

    if (syncUpdate) {
        Swal.fire({
            text: "Here's a basic example of SweetAlert!",
            icon: "success",
            buttonsStyling: false,
            confirmButtonText: "Ok, got it!",
            customClass: {
                confirmButton: "btn btn-primary"
            }
        });
    }
</script>

