{% extends "base.html" %}
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
    {% include 'include/_sidebar_owm.html' %}
{% endblock %}
{% block content %}
    <h1>ОПРИХОДОВАНИЕ MoySklad + Ozon + Wb + Market</h1>
    {% if error %}
        Нет записи api
    {% endif %}
<form action="#" method="POST" class="update-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-block mb-3">Обновить</button>

<div class="table-responsive">
    <table class="table table-bordered custom-table">
        <thead>
            <tr class="fw-bold fs-6 text-gray-800">
                <th>Offer ID</th>
                <th>Stock</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for offer_id, value in stock.items %}
                <tr>
                    <td>
                        <input type="hidden" name="{{ offer_id }}" value="offer_id" />
                        <span>{{ offer_id }}</span>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="{{ offer_id }}_stock" id="{{ offer_id }}_stock" value="{{ value.stock }}" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="{{ offer_id }}_price" id="{{ offer_id }}_price" value="{{ value.price }}" />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
        <button type="submit" class="btn btn-primary btn-block">Обновить</button>
    </form>
{% endblock %}
