{% extends "base.html" %}
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
    {% include 'include/_sidebar_owm.html' %}
{% endblock %}
{% block content %}
{% load custom_filters %}

<script>
function input() {
  var IDs = [];
  $(".table").find("tr").each(function(){ IDs.push(this.id); });

  var input_taker = document.getElementById('search').value;

  if (input_taker != '')
      {
    $("tr").each(function (i, el) {
         //It'll be an array of elements
        $(this).hide();
     });
} else {
    $("tr").each(function (i, el) {
         //It'll be an array of elements
        $(this).show();
     });
}


  $("tr[id*=" + input_taker + "]").each(function (i, el) {
         //It'll be an array of elements
        $(this).show();
     });



}

</script>
    <script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% if not error %}

header_data {{ header_data }}
    <br><br>
    all_totals {{ all_totals }}
    <!--Шапка-->
<div class="position-relative mb-17">
    <div class="overlay overlay-show">
        <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-250px" style="background-image:url('/media/owm/fin_owm.jpg')">
        </div>
        <div class="overlay-layer rounded bg-black" style="opacity: 0.4">
        </div>
    </div>
    <!--begin::Heading-->
    <div class="position-absolute text-white mb-8 ms-10 bottom-0">
        <!--begin::Title-->
        <h3 class="text-white fs-2qx fw-bold mb-3 m">Финансовый отчет OZON</h3>
        <!--end::Title-->

        <!--begin::Text-->
        <div class="fs-5 fw-semibold">
            Данные c {{ header_data.start_date}} по {{ header_data.stop_date}}
        </div>
        <!--end::Text-->
    </div>
    <!--end::Heading-->
</div>
<!--Табличик-->
<div class="row gy-5 gx-xl-10">

    <div class="col-sm-6 col-xl-2 mb-xl-10">

        <div class="card h-lg-100">
            <!--begin::Body-->
            <div class="card-body d-flex justify-content-between align-items-start flex-column">
                <!--begin::Icon-->
                <div class="m-0">
                                    <i class="fa-regular fa-handshake fs-2hx text-gray-600"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Icon-->
                <!--begin::Section-->
                <div class="d-flex flex-column my-7">
                    <div class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2" data-kt-countup="true" data-kt-countup-value="{{ all_totals.all_total_price_sum }}" data-kt-countup-prefix="₽">0</div>
                    <div class="m-0"><span class="fw-semibold fs-6 text-gray-500">Денег к выплате</span></div>

                </div>
                <!--end::Section-->

                <!--begin::Badge-->
                <span class="badge badge-light-success fs-base">
                    <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1"><span class="path1"></span><span class="path2"></span></i>
                    <i class="fa fa-rub" aria-hidden="true"></i>
                </span>
                <!--end::Badge-->
            </div>
            <!--end::Body-->
        </div>
        </div>

    <div class="col-sm-6 col-xl-2 mb-xl-10">
<!--begin::Card widget 2-->
<div class="card h-lg-100">
    <!--begin::Body-->
    <div class="card-body d-flex justify-content-between align-items-start flex-column">
        <!--begin::Icon-->
        <div class="m-0">
           <i class="fas fa-coins fs-2hx text-gray-600"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
        </div>
        <!--end::Icon-->

        <!--begin::Section-->
        <div class="d-flex flex-column my-7">
            <!--begin::Number-->
            <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">₽{{ all_totals.all_net_profit_sum }}</span>
            <!--end::Number-->
            <!--begin::Follower-->
            <div class="m-0">
                                    <span class="fw-semibold fs-6 text-gray-500">Чистая без опта</span>
            </div>
            <!--end::Follower-->
        </div>
        <!--end::Section-->
        <!--begin::Badge-->
        <span class="badge badge-light-success fs-base">
                            <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1"><span class="path1"></span><span class="path2"></span></i><i class="fa fa-rub" aria-hidden="true"></i>
        </span>
        <!--end::Badge-->
    </div>
    <!--end::Body-->
</div>
<!--end::Card widget 2-->
     </div>

    <div class="col-sm-6 col-xl-2 mb-xl-10">

<!--begin::Card widget 2-->
<div class="card h-lg-100">
    <!--begin::Body-->
    <div class="card-body d-flex justify-content-between align-items-start flex-column">
        <!--begin::Icon-->
        <div class="m-0">
                            <i class="fas fa-hand-holding-usd fs-2hx text-gray-600"><span class="path1"></span><span class="path2"></span></i>

        </div>
        <!--end::Icon-->

        <!--begin::Section-->
        <div class="d-flex flex-column my-7">
            <!--begin::Number-->
            <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">₽{{ all_totals.all_posttax_profit_sum }}</span>
            <!--end::Number-->

            <!--begin::Follower-->
            <div class="m-0">
                                    <span class="fw-semibold fs-6 text-gray-500">После 6% налог</span>

            </div>
            <!--end::Follower-->
        </div>
        <!--end::Section-->

        <!--begin::Badge-->
        <span class="badge badge-light-danger fs-base">
                            <i class="ki-duotone ki-arrow-down fs-5 text-danger ms-n1"><span class="path1"></span><span class="path2"></span></i>

            <i class="fa fa-rub" aria-hidden="true"></i>
        </span>
        <!--end::Badge-->
    </div>
    <!--end::Body-->
</div>
<!--end::Card widget 2-->


     </div>

    <div class="col-sm-6 col-xl-2 mb-xl-10">
        <div class="card h-lg-100">
    <!--begin::Body-->
    <div class="card-body d-flex justify-content-between align-items-start flex-column">
        <!--begin::Icon-->
        <div class="m-0">
                            <i class="fa-solid fa-cash-register fs-2hx text-gray-600"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>

        </div>
        <!--end::Icon-->

        <!--begin::Section-->
        <div class="d-flex flex-column my-7">
            <!--begin::Number-->
            <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{ all_totals.all_quantity }}</span>
            <!--end::Number-->

            <!--begin::Follower-->
            <div class="m-0">
                                    <span class="fw-semibold fs-6 text-gray-500">Продано товара</span>

            </div>
            <!--end::Follower-->
        </div>
        <!--end::Section-->

        <!--begin::Badge-->
        <span class="badge badge-light-success fs-base">
                            <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1"><span class="path1"></span><span class="path2"></span></i>-
        </span>
        <!--end::Badge-->
    </div>
    <!--end::Body-->
</div>
        </div>

    <div class="col-sm-6 col-xl-2 mb-5 mb-xl-10">
        <div class="card h-lg-100">
            <div class="card-body d-flex justify-content-between align-items-start flex-column">
                <div class="m-0">
                    <i class="fa-regular fa-thumbs-down fs-2hx text-gray-600"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <div class="d-flex flex-column my-7">
                    <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">₽{{ all_totals.all_return_total }}</span>
                    <div class="m-0"><span class="fw-semibold fs-6 text-gray-500">Возвраты товара</span>
                    </div>
                </div>
                <span class="badge badge-light-success fs-base">
                    <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1"><span class="path1"></span><span class="path2"></span></i>-
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-2 mb-5 mb-xl-10">
        <div class="card h-lg-100">
            <div class="card-body d-flex justify-content-between align-items-start flex-column">
                <div class="m-0">
                    <i class="fa-regular fa-calendar-days fs-2hx text-gray-600"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <div class="d-flex flex-column my-7">
                    <!--begin::Number-->
                    <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">{{ header_data.month }}</span>
                    <div class="m-0">
                        <span class="fw-semibold fs-6 text-gray-500">{{ header_data.day_delta }} дней</span>
                    </div>
                </div>
                <span class="badge badge-light-danger fs-base">
                    <i class="ki-duotone ki-arrow-down fs-5 text-danger ms-n1"><span class="path1"></span><span class="path2"></span></i>-</span>
                <!--end::Badge-->
            </div>
        </div>
    </div>

</div>
<br><br><br>
<!--begin::Accordion-->
<input type="text" id="search" onkeyup="input()">
<p id="block"></p>

<div class="accordion" id="accordionExample">
  {% for offer_id, value in report.items %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading_{{ offer_id }}" >
        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ offer_id }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse_{{ offer_id }}">
          {{ offer_id }} - {{ value.0.name }} -
        {% with summed_totals|get_item:offer_id as offer_totals %}
            {{ offer_totals.posttax_profit_sum|default:0 }} ({{ offer_totals.average_percent_posttax|default:0 }}%)
        {% endwith %}
            {% with total_quantity=summed_totals|get_item:offer_id|get_item:'total_quantity'|default:'0' %}
                {% if total_quantity < 3 %}
                    <i class="fa fa-exclamation-triangle" style="font-size: 1.2em; color: #ef4646;"></i>
                {% endif %}
            {% endwith %}
        </button>
      </h2>
      <div id="collapse_{{ offer_id }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading_{{ offer_id }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="row gx-5 gx-xl-10 mb-xl-10">
                <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-10 d-flex flex-column align-items-start">
                    <div class="card card-flush h-md-50 mb-5 mb-xl-10">
                        <div class="card-header pt-5">
                            <!--begin::Title-->
                            <div class="card-title d-flex flex-column">
                                <!--begin::Info-->
                                <div class="d-flex align-items-center">
                                    <!--begin::Amount-->
                                    <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">{{ offer_id }}</span>
                                </div>
                                <span class="text-gray-500 pt-1 fw-semibold fs-6">{{ value.0.name }}</span>
                            </div>
                        </div><br>
                        <div class="card-header pt-5">
                            <h3 class="card-title text-gray-800">Статистика</h3>
                        </div>
                        <div class="card-body pt-5">
                                        <!--begin::Item-->
                            {% with summed_totals|get_item:offer_id as offer_totals %}
                                <div class="d-flex flex-stack">
                                    <div class="text-gray-700 fw-semibold fs-6 me-2">Вся выручка </div>
                                    <div class="d-flex align-items-senter">
                                        <i class="ki-duotone ki-arrow-up-right fs-2 text-success me-2"><span class="path1"></span><span class="path2"></span></i>
                                        <span class="text-gray-900 fw-bolder fs-6">{{ offer_totals.total_price_sum|default:0 }}</span>
                                    </div>

                                </div>
                                <!--end::Item-->

                                                <!--begin::Separator-->
                                    <div class="separator separator-dashed my-3"></div>
                                <div class="d-flex flex-stack">
                                    <div class="text-gray-700 fw-semibold fs-6 me-2">Средняя цена покупки</div>
                                    <div class="d-flex align-items-senter">
                                        <i class="ki-duotone ki-arrow-up-right fs-2 text-success me-2"><span class="path1"></span><span class="path2"></span></i>
                                        <span class="text-gray-900 fw-bolder fs-6">{{ offer_totals.average_sales_price|default:0 }}</span>
                                    </div>

                                </div>
                                <!--end::Item-->

                                                <!--begin::Separator-->
                                    <div class="separator separator-dashed my-3"></div>
                                <div class="d-flex flex-stack">
                                    <!--begin::Section-->
                                    <div class="text-gray-700 fw-semibold fs-6 me-2">Общая чистая прибыль</div>
                                    <!--end::Section-->

                                    <!--begin::Statistics-->
                                    <div class="d-flex align-items-senter">
                                                                <i class="ki-duotone ki-arrow-down-right fs-2 text-danger me-2"><span class="path1"></span><span class="path2"></span></i>

                                        <!--begin::Number-->
                                        <span class="text-gray-900 fw-bolder fs-6">{{ offer_totals.net_profit_sum|default:0 }}</span>
                                        <!--end::Number-->


                                                        </div>
                                    <!--end::Statistics-->
                                </div>
                                <!--end::Item-->

                                                <!--begin::Separator-->
                                    <div class="separator separator-dashed my-3"></div>
                                    <!--end::Separator-->

                                        <!--begin::Item-->
                                <div class="d-flex flex-stack">
                                    <!--begin::Section-->
                                    <div class="text-gray-700 fw-semibold fs-6 me-2">С вычетом налогов</div>
                                    <!--end::Section-->

                                    <!--begin::Statistics-->
                                    <div class="d-flex align-items-senter">
                                                                <i class="ki-duotone ki-arrow-up-right fs-2 text-success me-2"><span class="path1"></span><span class="path2"></span></i>

                                        <!--begin::Number-->
                                        <span class="text-gray-900 fw-bolder fs-6">{{ offer_totals.posttax_profit_sum|default:0 }} ({{ offer_totals.average_percent_posttax|default:0 }}%)</span>
                                        <!--end::Number-->


                                                        </div>
                                    <!--end::Statistics-->
                                </div>
                                <!--end::Item-->
                            {% endwith %}


                        </div>
                    </div>

                </div>
                <div class="col-lg-12 col-xl-12 col-xxl-6 mb-10 mb-xl-0">
                    <div class="card h-md-100">
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold text-gray-900">Список продаж</span>
                                <span class="text-muted mt-1 fw-semibold fs-7">Всего
                                    {% with summed_totals|get_item:offer_id as offer_totals %}{{ offer_totals.total_quantity|default:0 }}{% endwith %} продажа</span>

                            </h3>
                        </div>
                        <div class="card-body pt-7 px-0">
                            <div class="mb-2 px-9">
                                {% for entry in value %}

                                    <div class="d-flex align-items-center mb-6">
                                        {% if entry.net_profit_perc < 30 %}
                                            <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center min-h-70px mh-100 me-4 bg-warning"></span>
                                        {% else %}
                                            <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center min-h-70px mh-100 me-4 bg-success"></span>
                                        {% endif %}
                                        <div class="flex-grow-1 me-5">
                                            <!--begin::Time-->
                                            <div class="text-gray-800 fw-semibold fs-2">
                                                Зачислена выплата за {{ entry.quantity }} товар: <u>{{ entry.total_price }}</u>
                                                <span class="text-gray-500 fw-semibold fs-7">
                                                <i class="fas fa-question-circle" data-toggle="tooltip" title="Окончательная сумма зачисления за продажу товара за вычетом всех коммисий ozona"></i></span>
                                            </div>
                                            <div class="text-gray-700 fw-semibold fs-6">
                                                Чистая прибыль {{ entry.net_profit }} ({{ entry.net_profit_perc }}%) <i class="fas fa-question-circle" data-toggle="tooltip" title="Прибыль за вычетом оптовой цены ({{ entry.opt }}) товара, без вычета любых других расходов"></i>
                                            </div>
                                            <div class="text-gray-500 fw-semibold fs-7">
                                                Прибыль после выплаты налога {{ entry.posttax_profit }} ({{ entry.posttax_profit_perc }}%)
                                                <a href="#" class="text-primary opacity-75-hover fw-semibold">#</a>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  {% endfor %}
</div>

{% else%}
    {{ error }}
{% endif %}
<!--end::Accordion-->
{% endblock %}