{% extends "base.html" %}
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
    {% include 'include/_sidebar_owm.html' %}
{% endblock %}
{% block content %}
    <h1>ИНВЕНТАРИЗАЦИЯ FBS (MoySklad + Ozon + Wb + Market)</h1>

    {% if resp %}
        <div class="accordion" id="kt_accordion_1">
        {% for key, value in resp.items %}
            {% if value.code == 200 or value.code == 204 %}
                <!--begin::Accordion-->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="kt_accordion_1_header_1">
                            <button class="accordion-button fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_1" aria-expanded="true" aria-controls="kt_accordion_1_body_1">
                                {{ key }} остатки обновлены
                            </button>
                        </h2>
                        <div id="kt_accordion_1_body_1" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
                            <div class="accordion-body">
                                {{ value }}
                            </div>
                        </div>
                    </div>
                <!--end::Accordion-->
            {% endif %}
        {% endfor %}
        </div>

    {% else %}

    <form action="#" method="POST">
    {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-block">Обновить остатки</button>
        <br><br><br>

        <div class="container">
            <!-- Основной чекбокс -->
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="selectAll" />
                <label class="form-check-label text-dark" for="selectAll">
                    Выбрать все
                </label>
            </div>

            <div id="checkboxList">
                {% for offer_id, value in stock.items %}
                    <div class="row mb-2 align-items-center pb-2" style="border-bottom: 1px solid #c2bfbf;">
                        <!-- Колонка для чекбокса и label -->
                        <div class="col-sm-2 d-flex align-items-center">
                            <input class="form-check-input align-middle child-checkbox" type="checkbox"
                                   name="{{ offer_id }}_checked" id="checkbox{{ offer_id }}" />
                            <label class="form-check-label text-dark ms-2" for="checkbox{{ offer_id }}" style="margin: 0;">
                                {{ offer_id }}
                            </label>
                        </div>
                        <!-- Колонка для input -->
                        <div class="col-sm-3 d-flex align-items-center">
                            <input type="text" class="form-control" name="{{ offer_id }}_stock"
                                   id="input{{ offer_id }}" value="{{ value.stock }}" style="width: 150px;">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Обновить остатки</button>
    </form>

    {% endif %}

<script>
    // Получаем основной чекбокс
    const selectAll = document.getElementById('selectAll');
    // Получаем все дочерние чекбоксы
    const childCheckboxes = document.querySelectorAll('.child-checkbox');

    // Слушаем изменения основного чекбокса
    selectAll.addEventListener('change', () => {
        childCheckboxes.forEach(checkbox => {
            checkbox.checked = selectAll.checked; // Устанавливаем состояние всех чекбоксов
        });
    });

    // Обновляем состояние основного чекбокса при изменении любого дочернего чекбокса
    childCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            const allChecked = Array.from(childCheckboxes).every(cb => cb.checked);
            const someChecked = Array.from(childCheckboxes).some(cb => cb.checked);

            if (allChecked) {
                selectAll.checked = true;
                selectAll.indeterminate = false;
            } else if (someChecked) {
                selectAll.checked = false;
                selectAll.indeterminate = true; // Устанавливаем "промежуточное" состояние
            } else {
                selectAll.checked = false;
                selectAll.indeterminate = false;
            }
        });
    });
</script>
{% endblock %}
