{% extends "base.html" %}
{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block sidebar %}
    {% include 'include/_sidebar_owm.html' %}
{% endblock %}
{% block content %}
{% load custom_filters %}

<script>
function input() {
  var IDs = [];
  $(".table").find("tr").each(function(){ IDs.push(this.id); });

  var input_taker = document.getElementById('search').value;

  if (input_taker != '')
      {
    $("tr").each(function (i, el) {
         //It'll be an array of elements
        $(this).hide();
     });
} else {
    $("tr").each(function (i, el) {
         //It'll be an array of elements
        $(this).show();
     });
}


  $("tr[id*=" + input_taker + "]").each(function (i, el) {
         //It'll be an array of elements
        $(this).show();
     });



}
</script>

    <h1>Обновить цены OZON</h1>
<input type="text" id="search" onkeyup="input()">
<p id="block"></p>
    <form action="#" method="POST">
    {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-block">Обновить цены</button>



            <div class="table-responsive">
<table class="table table-rounded table-row-bordered border gy-7 gs-7">
		<thead>
			<tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-400">
				<th>Артикул</th>
				<th>Цена</th>
				<th>FBS/FBO</th>
                <th>Оптовая</th>
                <th>Прибыль FBS/FBO</th>
                <th>Продано (пред. месяц)</th>
			</tr>
		</thead>
		<tbody>

        {% for offer_id, value in price.items %}
			<tr id="{{ offer_id }}" class="fw-bold fs-6 text-gray-800 border-gray-400 {{ value.sale_qty|get_row_class }}">
				<td>{{ offer_id }}</td>
				<td>
                    <input type="hidden" id="{{ offer_id }}" name="{{ offer_id }}" value="offer_id" />
                    <a href="https://seller.ozon.ru/app/prices/manager/{{ value.product_id }}/prices">Посмотреть цену товара в личном кабинете ozon</a>
                    <br><br>
                    Минимальная
                <input type="text" class="form-control" name="{{ offer_id }}_min_price" id="{{ offer_id }}" aria-describedby="basic-addon3" value="{{ value.min_price }}"/>
                    <button class="btn btn-primary position-relative me-5" disabled style="margin-top: 5px;">
                        <span style="position: relative; top: 5px; left: 2px;">{{ value.min_price_percent30 }}</span>
                        <span class="ms-4 mt-2 position-absolute top-0 start-0 translate-middle badge badge-primary badge-danger">30%</span>
                    </button>
                    <button class="btn btn-primary position-relative me-5" disabled style="margin-top: 5px;">
                        <span style="position: relative; top: 5px; left: 2px;">{{ value.min_price_percent50 }}</span>
                         <span class="ms-4 mt-2  position-absolute top-0 start-0 translate-middle badge badge-primary badge-danger">50%</span>
                    </button>
                    <button class="btn btn-primary position-relative me-5" disabled style="margin-top: 5px;">
                        <span style="position: relative; top: 5px; left: 2px;">{{ value.min_price_percent80 }}</span>
                         <span class="ms-4 mt-2  position-absolute top-0 start-0 translate-middle badge badge-primary badge-danger">80%</span>
                    </button>
                    <button class="btn btn-primary position-relative me-5" disabled style="margin-top: 5px;">
                        <span style="position: relative; top: 5px; left: 2px;">{{ value.min_price_percent100 }}</span>
                         <span class="ms-4 mt-2  position-absolute top-0 start-0 translate-middle badge badge-primary badge-danger">100%</span>
                    </button>
                    <br><br>Текущая акция {{ value.marketing_seller_price }}
                </td>
				<td>{{ value.delivery_price }}</td>
                <td>{{ value.opt_price }}</td>
                <td>{{ value.profit_price }}
                    {% if value.profit_percent > 0 %}
                        (<span style="color:#5ab738">{{ value.profit_percent }}%</span>)
                    {% else %}
                        (<span style="color:#ff2b4a">{{ value.profit_percent }}%</span>)
                    {% endif %}
                </td>
                <td>{{ value.sale_qty }}</td>
			</tr>
        {% endfor %}
        		</tbody>
	</table>
</div>
        <button type="submit" class="btn btn-primary btn-block">Обновить цены</button>
    </form>
{% endblock %}
